:root {
	--left-offset-web: 200px;
	--top-offset-web: 70px;
	--right-offset-web: 100px;
	--bottom-offset-web: 90px;
	--menu-text-size: 25px;
	--menu-items-gap: 5px;
	--arrow-width: 30px;
	--nav-text-size: 12px;
	--nav-marker-spacing: 80px;
}
a {
	color: rgb(92, 209, 255);
	font-weight: bold;
	text-decoration-line: none;
}

html {
	width: 95vw;
	margin: 0px;
	padding: 0px;
	-ms-overflow-style: none;
	scrollbar-width: none;
	scroll-behavior: smooth;
}
body {
	height: calc(400vh + 0px);
	/* height: 100%; */
	margin: 0px;
	padding: 0px;
	-ms-overflow-style: none;
	scrollbar-width: none;
	background-color: black;
	overflow-y: scroll;

	scroll-behavior: auto;

	/* position: -webkit-sticky;
	position: sticky; */
	top: 100vh;
}

#scroll-div {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

.snap-section {
	height: 100vh;
	width: 200px;
	scroll-snap-align: start;

	border: solid blue;
	/* position: relative; */
	background-color: rgba(0, 0, 0, 0.171);
	/* top: -100vh; */
	/* z-index: -100; */
}

body::-webkit-scrollbar {
	display: none;
}

img {
	width: 600px;
	height: 300px;
}

.icon {
	cursor: pointer;
}

#app,
.main,
#main-view {
	margin: 0px;
	padding: 0px;
	width: 100%;
	/* border: dotted black; */
}

/* .main {
	height: 100vh;
	width: 70vw;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	border: solid salmon;
	border-width: 5px;
} */

/* #main-view {
	height: 100vh;
	width: 50vw;
	position: fixed;
	top: 0px;
	background-color: rgb(130, 184, 216);
	scroll-snap-type: y mandatory;
	border: solid red;
} */

/* #main-view::-webkit-scrollbar {
	display: none;
} */

#overlay-page {
	/* margin: 0px;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0px;

	overflow: hidden;
	display: flex;
	flex-direction: row;
	

	/* border: dotted blue;
	border-width: 6px; */

	margin: 0px;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	/* z-index: 2; */
}
.overlay-content {
	display: flex;
	flex-direction: row;
	justify-content: end;
	width: 78vw;
	/* border: dotted orangered;
	border-width: 6px; */
	background-color: black;
}

.page {
	margin: 0px;

	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	/* scroll-snap-align: start; */

	/* border: dotted grey; */
}

#journey {
	background-color: #ffd800;
	/* z-index: -1; */
}

#journey-menu {
	background: radial-gradient(
		circle at 0% 100%,
		/* rgba(38, 185, 243, 0.555), */ rgba(255, 134, 41, 0.3),
		rgba(255, 255, 255, 0)
	);
}
#journey-content {
	background: radial-gradient(
		farthest-corner at 120% 0%,
		/* rgba(41, 248, 255, 0.9), */ rgba(255, 134, 41, 0.9),
		rgba(255, 255, 255, 0)
	);
}

#products {
	background-color: #005dff;
	/* z-index: -2; */
}

#products-menu {
	background: radial-gradient(
		circle at 0% 100%,
		rgba(183, 147, 255, 0.3),
		rgba(255, 255, 255, 0)
	);
}

#products-content {
	background: radial-gradient(
		farthest-corner at 120% 0%,
		rgba(183, 147, 255, 0.9),
		rgba(255, 255, 255, 0)
	);
}

#motivation {
	background-color: #b200ff;
	/* z-index: -3; */
}
#motivation-menu {
	background: radial-gradient(
		circle at 0% 100%,
		rgba(187, 255, 0, 0.3),
		rgba(255, 255, 255, 0)
	);
}
#motivation-content {
	background: radial-gradient(
		farthest-corner at 120% 0%,
		rgba(187, 255, 0, 0.7),
		rgba(255, 255, 255, 0)
	);
}

#summary {
	background-color: rgb(255, 81, 68);
	/* z-index: -4; */
}

#summary-menu {
	background: radial-gradient(
		circle at 0% 100%,
		/* rgba(178, 249, 255), */ rgba(78, 233, 247, 0.9),
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0)
	);
}

#summary-content {
	background: radial-gradient(
		farthest-corner at 120% 0%,
		rgb(78, 233, 247),
		rgb(78, 233, 247, 0.3),
		rgba(255, 255, 255, 0) /* rgba(178, 249, 255, 0.7),
		rgba(255, 255, 255, 0) */
	);
}

.content {
	width: calc(100% - var(--left-offset-web));

	/* width: 100%; */
	font-family: 'Libre Franklin', sans-serif;
	/* font-family: 'Franklin Gothic Medium', Arial, sans-serif; */
	/* border: dashed blueviolet; */
	border-width: 3px;
}

.page-content {
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	/* border: dotted black; */
	border-width: 3px;

	/* overflow: hidden; */

	/* z-index: 50; */
}

/* #journey-page-content {
	background-image: url('');
	background-size: cover;
	background-position: center;
} */

.content-scroller {
	scroll-behavior: smooth;
	scrollbar-width: none;

	/* border: dashed orangered; */
	/* align-content: start; */
	/* overflow: scroll; */
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
	height: calc(100vh - var(--bottom-offset-web));
	position: relative;
	transition: background-image 0.5s ease-out;
	background-repeat: no-repeat;
	scroll-snap-type: x mandatory;
	/* border-radius: 30px; */

	/* right: var(--arrow-width); */
}

.content-slide {
	position: absolute;
	width: calc(100% - var(--left-offset-web));
	height: calc(100vh - var(--bottom-offset-web));
	top: 0;
	left: var(--left-offset-web);
	/* z-index: 3; */
	opacity: 0;
	transition: opacity 0.25s ease-out;
	background-size: cover;
	background-position: center;
	/* background-color: var(--background-color, rgb(10, 10, 10)); */
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.content-slide.active {
	opacity: 1;
}
.content-wrapper {
	display: flex;
	align-self: center;
	flex-direction: row;
	width: fit-content;
	scroll-snap-align: start;
	/* border: dotted blue; */
	border-width: 3px;
	/* align-items: stretch; */
}

.content-scroller::-webkit-scrollbar {
	display: none;
}

.content-module {
	display: flex;
	flex-direction: column;
	justify-content: start;

	scroll-snap-align: start;

	height: calc(100vh - 5px - var(--bottom-offset-web));
	/* width: calc(100vh - 5px - var(--top-offset-web) - var(--bottom-offset-web)); */
	width: calc(100vw - var(--left-offset-web));

	/* border-radius: 15px; */
	/* border: dotted grey; */
	overflow: hidden;
	background-size: 100%;
	/* background-position: center; */
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
}

.img-content {
	height: 100%;
	width: auto;
	/* width: calc(100vh - var(--top-offset-web) - var(--bottom-offset-web)); */
}

.content-arrow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: solid blue; */
	/* width: calc(var(--arrow-width) + 40px); */
	width: 100px;
	position: relative;
	height: calc(100vh - var(--top-offset-web) - var(--bottom-offset-web));
	bottom: calc(100vh - var(--top-offset-web) - var(--bottom-offset-web));
}

.arrow-icon {
	/* border: solid red; */
	border-radius: 100px;
	/* padding: 5px; */
	width: 100%;
	height: var(--arrow-width);
	color: rgba(0, 0, 0, 0.8);
	filter: drop-shadow(0px 0px 6px rgb(255, 255, 255));
	cursor: pointer;
	/* color: rgba(0, 0, 0, 0.8); */

	/* color: rgba(250, 250, 250, 0.8); */

	/* mix-blend-mode: difference; */
}

.active :hover {
	color: rgba(0, 0, 0, 1);
	/* filter: drop-shadow(0px 0px 10px white); */
}

.inactive {
	/* color: rgba(128, 128, 128, 0.4);
	filter: none; */
	opacity: 0;
}

#side-menu {
	display: flex;
	flex-direction: column;
	justify-content: start;
	position: fixed;
	top: var(--top-offset-web);
	height: auto;
	width: var(--left-offset-web);
	left: 0px;
	/* gap: var(--menu-items-gap); */

	/* text-align: right; */
	/* border: dashed rgb(225, 0, 255); */
	border-width: 4px;
}

.content-navigation {
	height: var(--bottom-offset-web);
	display: flex;
	flex-direction: row;
	justify-content: center;

	align-self: center;
	/* border: solid red; */
	width: 100%;
}

.navigation-visual {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: calc(100% - var(--arrow-width) - var(--arrow-width));
	/* border: solid blueviolet; */
}

.nav-markers-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	/* left: 40px; */
	height: 100%;
	width: fit-content;
	/* width: calc(100% - 40px - var(--arrow-width) - var(--arrow-width)); */
	/* border: solid blue; */
}

.nav-bar {
	height: var(--nav-text-size);
	width: calc(90vw - var(--left-offset-web));
	position: relative;
	top: calc(var(--nav-text-size) - 0.5px);
	right: calc(var(--nav-marker-spacing) / 2);
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.08),
		rgba(0, 0, 0, 0)
	);
	/* border: solid black; */
	/* backdrop-filter: invert(70%) hue-rotate(360deg); */
	/* border-radius: 50px; */
}

.nav-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	width: var(--nav-marker-spacing);
	height: fit-content;
	position: relative;
	/* top: 20px; */
	overflow: visible;
	white-space: nowrap;
	/* top: 50px; */
	/* border: solid black; */
	color: rgba(0, 0, 0, 0.4);
	user-select: none;
}

.nav-text,
.nav-checkbox-empty {
	font-size: var(--nav-text-size);
}

.nav-text {
	transform-origin: bottom left;
	transform: rotate(45deg);
	position: relative;
	left: 6px;
	top: -8px;

	cursor: pointer;
}

.nav-active {
	color: black;
}

.nav-spacer {
	min-height: 5px;
}

.nav-checkbox-filler,
.nav-checkbox-empty,
.nav-spacer,
.nav-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: auto;

	/* border: solid grey; */
}

.side-menu-spacer,
.content {
	height: 100vh;
}

.side-menu-spacer {
	width: var(--left-offset-web);
	/* mix-blend-mode: difference; */

	/* border: dotted black;
	border-width: 6px; */
}

.side-menu-area {
	width: var(--left-offset-web);
	height: 100vh;
	/* border: dashed greenyellow; */

	z-index: 50;
}

#menu-select-bar {
	position: fixed;
	top: var(--top-offset-web);
	left: 0px;
	height: var(--menu-text-size);
	width: calc(var(--left-offset-web) + 0px);
	/* width: 100vw; */
	background-color: rgba(0, 0, 0, 0.85);
	/* background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.452),
		black,
		black
	); */
	/* backdrop-filter: invert(70%); */
	z-index: 4;
}

#menu-journey,
#menu-products,
#menu-motivation,
#menu-summary {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bolder;
	font-size: var(--menu-text-size);
	height: var(--menu-text-size);
	width: 98%;
	text-align: right;
	z-index: 5;
	cursor: pointer;
	/* border: solid red; */
}

#menu-journey {
	color: #ffd800;
}
#menu-products {
	color: #005dff;
}
#menu-motivation {
	color: #b200ff;
}
#menu-summary {
	color: rgb(255, 81, 68);
}

/* .slide-test-content {
	background-color: aqua;
	width: 620px;
	height: 380px;
} */

.icons-div {
	position: fixed;
	top: 0px;
	right: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: calc(var(--menu-text-size) / 4);
	width: var(--right-offset-web);
	height: var(--top-offset-web);
	color: black;
	font-size: var(--menu-text-size);
	/* filter: drop-shadow(2px 2px white); */
	/* border: solid red; */
	/* mix-blend-mode: difference;
	color: rgba(250, 250, 250, 0.9); */
}

#outlines-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	position: fixed;

	bottom: -1px;
	width: inherit;
	height: var(--bottom-offset-web);
	/* border: dotted black; */
	border-width: 6px;
}

.outlines-containers {
	display: flex;
	flex-direction: row;

	position: fixed;
	height: inherit;
	width: inherit;
	/* border: dotted greenyellow; */
}

.outline-images {
	height: 100%;
	object-fit: contain;
	/* border: dotted blue; */
}

#outline-bw {
	z-index: 20;
	left: -40px;
}
#outline-red {
	z-index: 19;
	left: -20px;
}
#outline-violet {
	z-index: 18;
}
#outline-blue {
	z-index: 17;
	left: 20px;
}
#outline-yellow {
	z-index: 16;
	left: 40px;
}

.content-module-text {
	display: table;
	/* border: dotted grey; */
	height: 100%;
	width: 100%;
}

.module-content-00 {
	color: white;
	font-size: larger;
	text-align: center;
	display: block;
	border: solid black;
	height: 50%;
	width: 50%;
}

.mc-center {
	color: white;
	font-size: larger;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* border: solid black; */
	height: 100%;
	width: 100%;
}

.photo-center {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: start; */
	/* text-align: center; */
	border: 5px solid black;
	height: 100%;
	width: calc((100vh - var(--bottom-offset-web)) * 0.8);
	background-size: cover;
	background-position: center;
	/* padding: 15px; */
}

.caption-picture {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: start; */
	/* text-align: center; */
	/* border: 5px solid black; */
	/* height: 1950px;
	width: 2000px; */
	/* width: calc((100vh - var(--bottom-offset-web)) * 0.8); */
	background-size: cover;
	background-position: center;
	/* padding: 15px; */
	box-shadow: 1px 1px 5px black;
}

#stamp-pic {
	width: 350px;
	height: 294px;
	background-size: contain;
}

#io-card-pic {
	width: 350px;
	height: 205px;
	background-size: contain;
}
#irony-man {
	width: 400px;
	height: 400px;
	background-size: contain;
	/* box-shadow: 1px 1px 5px black; */
}

#building-pic {
	width: calc(3340px * 0.5);
	height: calc(1640px * 0.5);
	background-size: contain;
}

#baskets {
	width: 350px;
	height: calc(350px / 0.8166);
	background-size: contain;
	box-shadow: 1px 1px 5px black;
}

.no-border {
	border: none;
}

#art-wall {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-image: url('https://storage.googleapis.com/kostya-works-public/design/journey/art%20wall%20web.png');
}

#buildings-wall {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 5px solid black;
	height: calc(100vh - var(--bottom-offset-web));
	width: calc((100vh - var(--bottom-offset-web)) / 0.75);
	background-size: cover;
	background-position: center;
	background-image: url('https://storage.googleapis.com/kostya-works-public/design/journey/buildings-bcm-web.png');
}

#diploma-pic {
	width: calc(60vh / 0.75);
	height: 60vh;
	background-size: contain;
}
#video-cover-wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	/* align-self: center; */
}

#video-cover {
	width: 100%;
	align-self: center;
}

.video-clip {
	height: 100%;
}

.videos-div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 15px;
}

.video-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* width: 300px;*/
	width: calc(100% / 4);
	border: solid black;
	border-width: 3px;
	/* background-color: rgba(0, 0, 0, 0.3); */
}

.videos-yt {
	width: calc(100% / 3 - 50px);
	height: calc(100% / 3);
	border: solid black;
	border-width: 3px;
}

.all-players {
	height: 90%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 15px;
}
.player-wrapper {
	height: 250px;
	width: 250px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: dotted black; */
}
.player {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;

	/* border: solid black; */
	background-size: contain;
	background-image: url('https://storage.googleapis.com/kostya-works-public/design/interests/cd.png');
	background-repeat: no-repeat;
	background-position: center;
}

.play-button {
	color: white;
	background-color: red;
	font-size: xx-large;
}

.clip-name {
	font-size: x-large;
	color: white;
	background-color: rgba(0, 0, 0, 0.85);
}
.clip-description {
	font-size: medium;
	color: white;
	background-color: rgba(0, 0, 0, 0.85);
}

#madigan-img {
	width: 769px;
	height: 600px;
}

#deforestation-img {
	width: calc(555px * 0.6);
	height: calc(967px * 0.6);
}

.caption-span {
	max-width: 500px;
}

#summary-div {
	max-width: 500px;
	text-align: left;
	/* background-color: ; */
}

#profile-pic {
	border-radius: 100%;
	height: 50px;
	width: 50px;
}

#name-div {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: start;

	align-items: center;
	font-size: small;
	font-weight: 500;
	gap: 10px;
	margin-bottom: 0px;
}

hr {
	height: 1px;
	border-width: 0;
	background-color: rgba(36, 36, 44);
	margin-bottom: 0px;
	/* border: #00e100 solid 1px; */
}

/* #name {
	cursor: pointer;
	color: white;

	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
} */
/* TEXT STYLE TEXT STYLE TEXT STYLE TEXT STYLE TEXT STYLE TEXT STYLE TEXT STYLE TEXT STYLE */

.x-large {
	font-size: 20vh;
}

.large {
	font-size: 10vh;
}
.medium {
	font-size: 8vh;
}

.purple {
	color: rgb(140, 0, 255);
	opacity: 0.8;
}

.yellow {
	color: rgb(255, 255, 0);
	opacity: 0.8;
}

#colors {
	color: rgb(255, 255, 255);

	text-shadow: 5px 1px 1px rgb(0, 255, 49), 10px -2px 1px rgb(44, 35, 255),
		-6px 2px 1px rgb(255, 62, 37);
	/* opacity: 0.9; */
	/* filter: invert(100%); */

	background-color: black;
}

#spaces {
	color: black;
	/* transform: rotate(30deg); */
	/* -webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg); */
	opacity: 0.8;
	background-color: white;
}

#numbers {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 50%;
	width: 50%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	color: white;
	background-color: rgb(31, 31, 31);
	opacity: 0.8;
	overflow-wrap: break-word;
	border: solid black;
	border-width: 15px;
	text-align: center;
	vertical-align: center;

	/* -webkit-text-stroke: 8px black; */
	/* filter: invert(70%); */
}

.text {
	max-width: 500px;
	/* border: solid red; */
	/* background-color: black; */
	background-color: white;
	font-size: 50px;
	/* color: white; */
	color: black;

	/* -webkit-text-stroke: 2px black; */
}

.link {
	/* max-width: 500px; */
	font-size: 20px;
	color: black;
	text-decoration-line: underline;
	cursor: pointer;
	/* -webkit-text-stroke: 2px rgb(221, 101, 83); */
}

/* @MEDIA @MEDIA @MEDIA @MEDIA @MEDIA @MEDIA @MEDIA @MEDIA @MEDIA @MEDIA @MEDIA */
@media (max-width: 920px) {
	body {
		overflow-y: hidden;
	}
	:root {
		--top-offset-web: 8%;
		--top-offset-menu: 3%;
		--menu-width: 100%;
		--bottom-offset-web: 15vh;
		--menu-text-size: 3.5vh;
		--arrow-width: calc(min(10vw, 45px));
	}

	.content {
		width: 100%;
	}

	.content-scroller {
		height: auto;

		/* border: solid black; */
	}

	.content-slide {
		height: 75vh;
		width: 100vw;
		left: 0;
	}

	.content-module {
		height: 75vh;
		/* max-height: 550px; */
		/* max-height: calc(100vh - var(--top-offset-web)); */
		width: 100vw;
		/* max-width: 550px; */
		background-size: cover;
		background-position: center;
	}

	#side-menu {
		/* top: var(--top-offset-menu); */

		top: calc(100vh - var(--bottom-offset-web));
		/* bottom: var(--bottom-offset-web); */

		width: var(--menu-width);
	}

	#menu-select-bar {
		top: inherit;
		width: var(--menu-width);
	}

	#menu-journey,
	#menu-products,
	#menu-motivation,
	#menu-summary {
		text-align: right;
		position: relative;
		right: 3.5vw;
		font-size: calc(var(--menu-text-size) * 1);
		height: calc(var(--menu-text-size) * 1);
	}
	.content-navigation {
		height: 25vh;
		/* min-height: 30vh; */
		/* border: solid red; */
	}

	.side-menu-area {
		width: 100%;
		height: 100%;
		overflow: visible;
	}

	#outlines-wrapper {
		height: var(--bottom-offset-web);
		width: 50%;
		bottom: 0;
		/* border: solid black; */
		/* bottom: 100px; */
		/* right: 0px; */
	}

	.nav-bar {
		width: 100vw;
		right: 0px;
	}

	.nav-markers-wrapper {
		left: calc(var(--nav-marker-spacing) / 2);
	}

	.nav-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;

		/* border: solid black; */
	}

	.content-arrow {
		/* bottom: calc(100vh - min(100vw, 550px) - var(--top-offset-web)); */
		/* bottom: calc((min(100vw, 550px) + var(--top-offset-web)) / 2); */
		bottom: 25vh;
		height: 0px;
		/* border: solid red; */
	}

	.icons-div {
		right: 5vw;
		justify-content: end;
	}

	.navigation-visual {
		width: calc(100% - var(--arrow-width) - var(--arrow-width) - 80px);
	}
	/* .page-content {
		display: flex;
		flex-direction: column;
		justify-content: start;
	} */

	.large {
		font-size: 7vh;
	}
	.medium {
		font-size: 6vh;
	}
	.x-large {
		font-size: 10vh;
	}
	.photo-center {
		width: calc(100% - 10px);
	}

	#building-pic {
		width: 100vw;
		height: calc(100vw * 0.491);
		background-size: contain;
	}

	#art-wall {
		background-image: url('https://storage.googleapis.com/kostya-works-public/design/journey/art%20wall%20mobile.png');
	}

	#buildings-wall {
		width: calc(100% - 10px);
		height: 100%;
		background-image: url('https://storage.googleapis.com/kostya-works-public/design/journey/buildings-bcm-mobile.png');
	}

	#diploma-pic {
		width: 90vw;
		height: calc(90vw * 0.75);
		background-size: contain;
	}
	.videos-div {
		flex-direction: column;
	}
	.videos-yt {
		width: 100%;
		height: calc(100% / 3);
		border: solid black;
		border-width: 3px;
	}

	#video-cover {
		height: 100%;
		align-self: center;
	}

	.all-players {
		flex-direction: column;
	}
	.player {
		align-items: center;
	}

	#madigan-img {
		width: 98vw;
		height: calc(98vw / 1.28);
	}
	#deforestation-img {
		width: 273px;
		max-height: 475px;
	}

	#summary-div {
		max-width: 90%;
		text-align: left;
		/* background-color: ; */
	}
}
